{% import 'admin/lib.html' as lib with context %}

{% macro render_form_graph(form) %}
    <div class="wrapper">
      <canvas id="canvas" width="1000" height="300"></canvas>
    </div>
    <div class="container-fluid">
     <a onclick="buildModalFromURL('newSetpointContainer', '{{ get_url('setpoints.create_view', fan_id=request.args.get('id')) }}', newSetpointHandler);" href="JavaScript:void(0);">{{ _gettext('Add Setpoint') }}</a>
    </div>
    <div class="container-fluid">
     <a onclick="buildModalFromURL('delSetpointContainer', '{{ get_url('setpoints.delete_one', fan_id=request.args.get('id')) }}');" href="JavaScript:void(0);">{{ _gettext('Delete Setpoint') }}</a>
    </div>
    <div class="container-fluid">
     <a onclick="buildModalFromURL('copySetpointContainer', '{{ get_url('setpoints.copy_existing', fan_id=request.args.get('id')) }}');" href="JavaScript:void(0);">{{ _gettext('Copy Existing Profile') }}</a>
    </div>
{% endmacro %}

{% macro render_custom_form(form, cancel_url, extra=None, form_opts=None, action=None, is_modal=False) -%}
    {% call lib.form_tag(action=action) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ render_form_graph(form) }}
        {{ lib.render_form_buttons(cancel_url, extra, is_modal) }}
    {% endcall %}
{% endmacro %}