.mdl-fan {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url(/static/icons/fan.svg);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.host-status {
  width: 30px;
}

.fa.fa-check-circle {
  color: lightgreen;
}

.fa.fa-question-circle {
  color: indianred;
}

.right-justify {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.split-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-list-item {
    padding-left: 10px;
    padding-right: 30px;
}

.card-list {
    list-style-type: none;
    padding-left: 5px;
    font-size: .75rem;
}

.card-list-text {
    color: #6c757d!important;
}

.no-left-padding {
    padding-left: 0px;
}

.navbar-icon-badge {
    display: none;
    background-color: red;
    min-width: 16px;
    min-height: 15px;
    padding: 2px;
    border-radius: 100%;
    position: absolute;
    right: -7px;
    top: -5px;
    font-size: 8px;
    font-weight: 900;
    color: rgba(256,256,256,0.8);
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-icon-alert > a > .navbar-icon-badge {
    display: inline-block;
}

.navbar-popover {
    display: inline-block;
    margin: 0px 5px;
}

.navbar-sidebar {
    display: inline-block;
    margin: 0px 5px;
}

.navbar-popover > a {
    padding: 0px;
    margin: 0px;
    border: unset;
    display: flex;
    position: relative;
    background-color: transparent;
}

.navbar-popover > a > i {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.navbar-sidebar > a > i {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.navbar-popover > a > i:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.50), 0 10px 10px rgba(0,0,0,0.60);
}

.navbar-sidebar > a > i:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.50), 0 10px 10px rgba(0,0,0,0.60);
}

.navbar-popover > a > i:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.navbar-sidebar > a > i:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.navbar-popover > a:hover { text-decoration: none; }
.navbar-popover > a:link { text-decoration: none; }
.navbar-popover > a:visited { text-decoration: none; }
.navbar-popover > a:active { text-decoration: none; }


.navbar-sidebar > a {
    padding: 0px;
    margin: 0px;
    border: unset;
    display: flex;
    position: relative;
    background-color: transparent;
}

.navbar-sidebar > .navbar-sidebar-content {
  display: block;
  z-index: 99;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 0;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  right: 0;
  top: 0;
  transition: width .2s ease-in-out;
}

span.nav-link {
  color: #007bff;
  cursor: pointer;
}

.navbar-sidebar-content > .close-sidebar {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.navbar-sidebar > .navbar-sidebar-content.show-sidebar {
  width: 300px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-sidebar > .navbar-sidebar-content.show-sidebar > ul {
    margin: 10px;
    padding: 0;
    font-size: 0.8rem;
}

.navbar-sidebar > .navbar-sidebar-content.show-sidebar > ul > li {
    border-bottom: 1px rgba(0,0,0,.2) solid;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.7rem;
}

.navbar-sidebar > .navbar-sidebar-content.show-sidebar > ul > li > div {
  position: relative;
}

.navbar-sidebar > .navbar-sidebar-content.show-sidebar > ul > li > div > span.close-alert {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.navbar-sidebar > .navbar-sidebar-content > .sidebar-subtext-link {
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: .8rem;
    font-style: italic;
    color: royalblue;
}
}

.navbar-popover > a:hover {
    color: unset;
    text-decoration: unset;
}

.navbar-sidebar > a:hover {
    color: unset;
    text-decoration: unset;
}

.navbar-popover > a > i {
    color: #343a40!important;
    background-color: rgba(255,255,255,.5);
    border-radius: 100%;
    padding: 5px;
}

.navbar-sidebar > a > i {
    color: #343a40!important;
    background-color: rgba(255,255,255,.5);
    border-radius: 100%;
    padding: 5px;
}

.popover-container {
    display: none;
}

.card-shelf {
    display: flex;
    flex-wrap: wrap;
}

.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*margin: 5px;*/
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
}

.card-icon:hover {
    transform: scale(1.1);
}

.mdl-harddisk {
    aspect-ratio: 1 / 1;
    fill: #343a40 !important;
    width: 60px;
    z-index: 1;
}

.mdl-harddisk-grey{
    aspect-ratio: 1 / 1;
    fill: #a7a7a7 !important;
    width: 60px;
}

.mdl-row-icon {
    width: 17px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.chassis-card-title {
    margin-left: 10px;
    margin-top: 20px;
}

.chassis-card {
    /*max-width: 815px;*/
    max-width: max-content;
}

.chassis-card > .card-body {
    padding: 0.5rem;
}

.chassis-card-title > h5 {
    opacity: 0.5;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1rem;
}

.disk-tooltip-item {
    display: block;
    max-width: 300px;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disk-tooltip-temp {
    display: block;
    max-width: 300px;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
}

div.editable-input > .select2-container {
/* fix for flask admin too small selection window */
    min-width: 200px;
}

div.editable-input > .select2-container-active .select2-choice {
/* fix for flask admin too small selection window */
    min-width: 200px;
}

.card-text .support-text {
    font-size: 13px;
    opacity: 0.5;
    color: rgb(0, 0, 0);
    display: inline-block;
}

.list-model-link {
    font-size: .9rem;
    font-style: italic;
}

a.icon.disabled {
    color: rgba(0,0,0,0.3);
    pointer-events: none;
}